<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/batchXML_1_0.xsd">

	<bean id="serviceLocator"
		class="com.microkernel.core.service.locator.SimpleServiceLocator">
	</bean>


	<bean id="helloWorldService"
		class="com.dummy.service.HelloWorldService">
		<property name="name" value="HelloWorld"/>	
	</bean>
	
	<!-- PARSER Beans -->
	
	<bean id="processDefParser" 
		class="com.microkernel.core.xml.configuration.MicrokernelProcessDefinitionParser">
		<property name="parser" ref="flowParser" />
	</bean>
	
	<bean id="flowParser"
		class="com.microkernel.core.xml.configuration.FlowParser">
		<property name="parser" ref="stateParser" />
	</bean>
	
	<bean id="stateParser"
		class="com.microkernel.core.xml.configuration.StateParser">
		<property name="parser" ref="serviceParser" />
	</bean>
	
	<bean id="serviceParser"
		class="com.microkernel.core.xml.configuration.ServiceParser" depends-on="serviceLocator">
		<property name="serviceLocator" ref="serviceLocator" />	
	</bean>
	
</beans>
