<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/batchXML_1_0.xsd">

	<bean id="propertyPlaceHolder"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties">
			<map>
				<entry key="processDefLoc" value="G:/Richita/process-definition.xml"></entry>
			</map>
		</property>	
	</bean>

	<bean id="serviceLocator"
		class="com.microkernel.core.service.locator.SimpleServiceLocator">
	</bean>


	<bean id="helloWorldService"
		class="com.dummy.service.HelloWorldService">
		<property name="name" value="HelloWorld"/>	
	</bean>
	
	
	<bean id="flowHolder"
		class="com.microkernel.core.flow.support.FlowHolderImpl">
		<property name="parser" ref="processDefParser" />
		<property name="processDefinitionLoc" value="${processDefLoc}" />	
	</bean>
	
	<bean id="processOrchestrator"
		class="com.microkernel.core.orchestrator.ProcessOrchestrator">
		<property name="holder" ref="flowHolder" />
		<property name="executor" ref="processExecutor" />
	</bean>
	
	<bean id="processExecutor"
		class="com.microkernel.core.orchestrator.ProcessFlowExecutor">
		<property name="executor" ref="executorProc" />	
	</bean>
	
	<bean id="serviceExecutor"
		class="com.microkernel.core.task.executor.AsyncServiceExecutor">
		<property name="task" ref="executorServ" />	
	</bean>
	
	<!-- PARSER Beans -->
	
	<bean id="executorProc"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="10" />
		<property name="corePoolSize" value="10" />
		<property name="threadNamePrefix" value="PROC-" />	
	</bean>
	
	<bean id="executorServ"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="10" />
		<property name="corePoolSize" value="10" />
		<property name="threadNamePrefix" value="SERV-" />	
	</bean>
	
	<bean id="processDefParser" 
		class="com.microkernel.core.xml.configuration.MicrokernelProcessDefinitionParser">
		<property name="parser" ref="flowParser" />
	</bean>
	
	<bean id="flowParser"
		class="com.microkernel.core.xml.configuration.FlowParser">
		<property name="parser" ref="stateParser" />
		<property name="executor" ref="serviceExecutor" />
	</bean>
	
	<bean id="stateParser"
		class="com.microkernel.core.xml.configuration.StateParser">
		<property name="parser" ref="serviceParser" />
	</bean>
	
	<bean id="serviceParser"
		class="com.microkernel.core.xml.configuration.ServiceParser" depends-on="serviceLocator">
		<property name="serviceLocator" ref="serviceLocator" />	
	</bean>
	
	<bean id="springInit"
		class="com.microkernel.core.spring.bean.SpringConfiguration"></bean>
	
</beans>
